body  {
    background-image: url(../images/magic-pattern.jpg);
    background-size: contain;
}

p {
    font-size: 1.3rem;
    color: white;
    margin-top: 0;
}

#gif-div {
    margin-top: 50px;
}

#gif-div div {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#buttons-div {
    margin-top: 30px;
}

#buttons-div button{
    margin: 10px;
}

.input-field label {
    color: white;
    font-size: 1.3rem;
}

#search-input {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 #000;
}

#search-input:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 #000;
}

.container{
    background-color: #4a148c;
    min-height: 100vh;
}